$primary-color: #fefffe;
$secondary-color: #937ae8;
$tertiary-color: #f6c172;
$dark-black: #10002b;
$light-black: #2b2b2d;

@mixin heading {
  font-family: "Londrina Solid", sans-serif;
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: $dark-black;
  text-transform: uppercase;

  @include mobile {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@mixin text {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1%;
  color: $light-black;
  font-weight: 500;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  width: 189px;
  height: 64px;
  font-family: "Londrina Solid", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #fff;
  background: $secondary-color;
  border-radius: 40px;
  border: none;
  text-transform: capitalize;
  @include flex;

  @include mobile {
    width: 140px;
    height: 45px;
    font-size: .9rem;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin ipad {
  @media (max-width: 1000px) {
    @content;
  }
}
