@import "./mixins";

.options {
  width: 100%;
  @include flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 100px;
  flex-wrap: wrap;


  @include mobile {
    margin-top: 60px;
  }

  ._left {
    .subtitle {
      @include text;
      color: $tertiary-color;
      text-transform: capitalize;
      font-weight: 700;
    }

    h2 {
      @include heading;
      margin: 16px 0;
    }
  }

  ._right {
    .cta {
      @include btn;
    }
  }
}

.options_flow {
  width: 100%;
  @include flex;
  justify-content: space-between;
  margin-top: 64px;
  flex-wrap: wrap;


  @include mobile {
    justify-content: center;
    align-items: center;
  }
}