@import "./mixins";

.section_one {
  width: 100%;
  @include flex;
  justify-content: space-between;

  @include mobile {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  ._left {
    h1 {
      @include heading;
    }

    p {
      @include text;
      max-width: 388px;
      margin: 16px 0 32px 0;
    }

    .cta {
      @include btn;
    }
  }
}